<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>条件渲染</title>
  <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
  <div id="root">
    <h2>欢迎来到{{name}}</h2>
    <h2>当前的n值是{{n}}</h2>
    <button @click="n++">点我n+1</button>
    <div v-show="n===1">Angular</div>
    <div v-show="n===2">React</div>
    <div v-if="n===3">Vue</div>
    <div v-else-if="n===3">Vue1</div>
    <div v-else>Vue2</div>
    <template v-if="n===4">
      <h2>test1</h2>
      <h2>test2</h2>
    </template>
  </div>
 <script  type="text/javascript">
   Vue.config.productionTip=false
   new Vue({
     el:'#root',
     data:{
       name:'夏木',
       n:0
     }
   })
 </script>
</body>
</html>